.products-main-container {
    width: auto;
    position: relative;
    margin-top: 5.1%;
    z-index: 10;
    overflow: hidden;
}

.products-container {
    padding: 2rem;
}

.product-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 20rem;
    cursor: pointer;
    /* background: #f8f8ff; */
}

.products-ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 90vw;
    padding: 0 2rem 0 7rem;
}

.product-title {
    font-weight: 600;
    text-align: left;
}

.product-price {
    text-align: left;
    font-weight: 400;
}

.product-img {
    list-style: none;
    margin: 0 auto;
    height: 12rem;
    width: 12rem;
}

@media only screen and (max-width: 1800px) {
    .products-ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        padding: 7rem 2rem 0 6rem;
        width: 100vw;
    }
}

@media only screen and (max-width: 1400px) {
    .products-ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        padding: 7rem 2rem 0 6rem;
        width: 100vw;
    }
}

@media only screen and (max-width: 1000px) {
    .products-main-container {
        margin-top: 24%;
    }

    .products-ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        padding: 0 2rem 0 2rem;
        width: 100vw;
    }

}

@media only screen and (max-width: 801px) {
    .products-main-container {
        margin-top: 24%;
    }

    .products-ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0 2rem 0 3rem;
        width: fit-content;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 501px) {
    .products-container {
        padding: 1rem;
    }

    .products-ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0rem 2rem 0rem 0rem;
        width: fit-content;
        margin: 0 auto;
    }
}