.landing-page-main-container {
    width: auto;
    position: relative;
    top: 4rem;
    z-index: 10;
    overflow: hidden;
}

.commercial-text {
    position: absolute;
    color: #ffff;
    top: 19rem;
    font-size: 2rem;
    left: 6rem;
}